td
{
  text-align: center;
  background-color: #DAC3BD;
 
}
p{
    font-family: 'Comfortaa', cursive ;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.entete
{
background-color: #262220;
color : white;
font-family: 'Comfortaa', cursive;
font-weight: bolder;
font-size: 15px;

}
thead
{
    border-bottom: wheat solid 3px;
}
.content-table
{
  border-collapse: collapse;
  margin : 25px 0;
  font-size : 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow : hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0, 15 );
  margin:auto;
  margin-top: 100px;
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}

.content-table thead tr{
  background-color:#262220;
  color: white;
  text-align:left;
  font-weight:bold;
}

.content-table th,
.content-table td{
padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid white ;
}

.content-table tbody tr :nth-of-type(even){
  background-color: #f3f3f3;
}

.content-table tbody
{
  color : black;
}

button:hover{
 background-color: tomato;
}

button {
position: relative;
top: 80px;
margin: auto;
width: 30%;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 23%;
border : solid 2px #f3f3f3;
}

div{
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  
}
h1{
  text-align: center;
}