<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<nav>
  <div class="example-button-row">
    <button mat-raised-button class="bouton"><a routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a></button>

    <button mat-raised-button class="bouton"><a routerLink="ajout-stagiaire">Ajout stagiaire</a></button>
    <button mat-raised-button class="bouton"><a routerLink="liste-stagiaire">Liste des stagiaires</a></button>    
    <button mat-raised-button class="bouton"><a routerLink="liste-punition">Les punitions</a></button>
    <button mat-raised-button class="bouton"><a routerLink="distribution">Qui est puni ?</a></button>
    <button mat-raised-button class="bouton"><a routerLink="apropos">A propos</a> </button>
  </div>
</nav>
